#play-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#play-button:hover {
  background-color: #333;
}

img {
  user-drag: none;       /* Safari */
  -webkit-user-drag: none; /* Chrome, Safari */
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: auto;
}
