#play-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#play-button:hover {
  background-color: #333;
}

.tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center both ways */
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.icon-container:hover .tooltip {
  opacity: 1;
}

img {
  user-drag: none;       /* Safari */
  -webkit-user-drag: none; /* Chrome, Safari */
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: auto;
}
